
assignment3/cs231n/datasets/coco_captioning/coco2014_vocab.json
assignment3/cs231n/datasets/coco_captioning/coco2014_captions.h5
assignment3/cs231n/datasets/coco_captioning/train2014_images.txt
assignment3/cs231n/datasets/coco_captioning/train2014_urls.txt
assignment3/cs231n/datasets/coco_captioning/train2014_vgg16_fc7_pca.h5
assignment3/cs231n/datasets/coco_captioning/train2014_vgg16_fc7.h5
assignment3/cs231n/datasets/coco_captioning/val2014_images.txt
assignment3/cs231n/datasets/coco_captioning/val2014_urls.txt
assignment3/cs231n/datasets/coco_captioning/val2014_vgg16_fc7.h5
assignment3/cs231n/datasets/coco_captioning/val2014_vgg16_fc7_pca.h5
assignment3/cs231n/datasets/squeezenet.ckpt.data-00000-of-00001
assignment3/cs231n/datasets/imagenet_val_25.npz
assignment3/cs231n/datasets/squeezenet.ckpt.index
assignment3/cs231n/datasets/.DS_Store
assignment1/cs231n/.DS_Store
.DS_Store
assignment2/.DS_Store
assignment3/cs231n/datasets/coco_captioning.zip
assignment3/cs231n/datasets/imagenet_val_25.npz.1
assignment1/.DS_Store
assignment1/cs231n/.DS_Store
assignment2/.DS_Store
assignment3/.vscode/settings.json
assignment2/.DS_Store
