aiofiles==0.4.0
asn1crypto==0.24.0
astor==0.7.1
astroid==2.2.5
backcall==0.1.0
beautifulsoup4==4.8.0
bs4==0.0.1
cffi==1.12.3
cryptography==2.7
defusedxml==0.6.0
entrypoints==0.3
et-xmlfile==1.0.1
get==2019.4.13
google-pasta==0.1.7
grpcio==1.19.0
imageio==2.6.1
importlib-metadata==0.23
isort==4.3.21
jdcal==1.4.1
jedi==0.15.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
loader==2017.9.11
Logbook==1.5.2
logcc==2018.3.1
mccabe==0.6.1
mock==3.0.5
more-itertools==7.2.0
open3d-python==0.7.0.0
opencv-python==4.1.2.30
openpyxl==3.0.2
opt-einsum==3.1.0
pandas==0.25.3
pandocfilters==1.4.2
parso==0.5.1
path==13.1.0
pbr==5.4.3
pendulum==2.0.5
pony==0.7.10
post==2019.4.13
prometheus-client==0.7.0
prompt-toolkit==2.0.9
public==2019.4.13
pycparser==2.19
pylint==2.3.1
pyrsistent==0.15.4
pytzdata==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
scikit-rf==0.14.9
selenium==3.141.0
Send2Trash==1.5.0
sockets==1.0.0
soupsieve==1.9.3
tensorboard==2.0.0
tensorflow==2.0.0
tensorflow-estimator==2.0.0
termcc==2019.8.2
terminaltables==3.1.0
testpath==0.4.2
torch==1.3.0
tushare==1.2.48
typed-ast==1.3.1
urllib3==1.26.5
wcwidth==0.1.7
webencodings==0.5.1
websockets==8.0.2
widgetsnbextension==3.5.1
wrap==2018.3.1
wrapt==1.11.1
zipp==0.6.0
